<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers</title>
    <style>
        /* .center-table {
            margin: 0 auto;
        } */
        .center-td {
            text-align: center;
            border: 2px solid black;
        }

        #up{
            background-color: green;
        }
        #down{
            background-color: red;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td class="center-td">Name</td>
        {%for key, value in list_of_servers[0].items()%}
            {%for inner_key, inner_value in value.items()%}         
                        <td class="center-td">{{ inner_key }}</td> 
                {%endfor%}
        {%endfor%}
    </tr>
    <tr>
        {%for serv in list_of_servers%}
        <tr></tr>   
            {%for key, value in serv.items()%}  
                <td>{{key}}</td> 
                {%for inner_key, inner_value in value.items()-%} 
                                {%if inner_value == False%}
                                    <td id="down">DOWN</td>  
                                {%elif inner_value == True%}
                                    <td id="up">UP</td>
                                {%else%}
                                    <td>{{ inner_value }}</td>
                                {%endif%}
                        {%- endfor%}
                {%- endfor%}
        {%- endfor%}
    </tr>
    


</table>
</body>
</html>